html body{
    height: 100%;
    background-color: aqua;
    
}
.header
{
    border: 2px solid brown;
    padding: 50px;
    text-align:center;
    align-items:center;
    background-color: azure;
    
    
    
}
.body
{
    border: 2px solid brown;
    height:430px;
    background-color: bisque;
}
.home
{
    display: flex;
    background-color: darkkhaki;
    height: 100%;
    width: 25%;
}
.about_us
{
    display: flexbox;
    background-color:orange;
    height: 100%;
    width: 25%;
    float: right;
    margin-top: -66%;
    
}
.contact_us
{
    display: flexbox;
    background-color:magenta;
    height: 100%;
    width: 25%;
    margin-left: 50%;
    margin-top: -66% ;
}